/* Main Styles */

html {
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(to bottom, #aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
    background-color: #44494b;
    color: #f7f9fa;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    background-color: #44494b;
    background-image: -moz-linear-gradient(center top, #44494b, #5c6265);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #44494b), color-stop(1, #5c6265));
    background-image: linear-gradient(to bottom, #44494b, #5c6265);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#44494b', EndColorStr = '#5c6265');
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, select {
    font-family: "Arial Black", "Lucida Grande", sans-serif;
}

.spinner {
    background: url(spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* Navbar Styles */

div.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(180deg, #373737 90%, #b1e4ea 100%);
}

div.navbar-header {
    background-color: black;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 4px;
}

div.navbar-header.add-note {
    border-radius: 25px;
}


a.navbar-brand {
    font-size: .8em;
    color: white;
    margin: 4px auto;
    padding: 4px 10px;
    background: linear-gradient(#395cab, #223768);
    border: 2px solid rgba(126, 188, 234, .6);
    border-radius: 2px;
}

a.navbar-brand:hover {
    background: linear-gradient(#3d76c9, #255286);
}

a.navbar-brand:selected {
    background: linear-gradient(#583aab, #342266);
}

a.navbar-brand.add-note {
    color: #373737;
    background: linear-gradient(#20d900, #009913);
    border: 2px solid rgba(45, 211, 0, 0.6);
    border-radius: 20px;
}

a.navbar-brand.add-note:hover {
    background: linear-gradient(#24f100, #00b016);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #cc0000;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

/* Messages and errors */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}